.networks {
  display: flex;
  align-items: center;
  background-color: $main-text-color;

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 34px;
    // border: 1px solid $white-color;
    border-radius: 15px;
    background: $white-color;
    cursor: pointer;

    &--youtube {
      background: #ff0000;
    }
    &--whatsapp {
      background: #3adc49;
    }
    &--viber {
      background: #864cb2;
    }
    &--telegram {
      background: #4e9ce5;
    }
  }
}

@media screen and (max-width: $size-mobile) {
  .networks {
    display: flex;
    align-items: center;
    background-color: $main-text-color;
    margin-bottom: 40px;
    &__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 34px;
      // border: 1px solid $white-color;
      border-radius: 15px;
      background: $white-color;
      cursor: pointer;
    }
  }
}
