.detailInfo {
  position: relative;
  padding-top: 120px;
  padding-bottom: 80px;

  &__container {
    position: relative;
  }

  &__copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $white-color;
    padding: 25px 30px;
    border-radius: 15px;
    margin-bottom: 20px;

    &--text-wrapper {
      display: flex;
      align-items: center;
      height: 50px;
      width: 100%;
      margin-right: 60px;
      padding: 13px 28px;
      background: #d9d9d9;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
    }
  }

  &__copy-button {
    cursor: pointer;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    &--icons {
      display: flex;
    }
    &--heart-icon {
      display: flex;
      width: 44px;
      height: 44px;
      margin-right: 20px;
      border-radius: 18px;
      align-items: center;
      justify-content: center;
      border: 1px solid $main-text-color;
      background: $white-color;
      cursor: pointer;
      & svg {
        width: 20px;
        height: 20px;
      }

      &.active {
        border: 1px solid $main-red-color;
        background: $main-red-color;
        & svg {
          & path {
            // fill: $white-color;
            stroke: $white-color;
          }
        }
      }
    }
    &--transparent-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      background: $transparent;
      border-radius: 18px;
      border: 1.5px solid $main-text-color;
      cursor: pointer;
      & svg {
        width: 17px;
      }
    }
  }

  &__city {
    margin-bottom: 40px;
  }

  &__list {
    margin-bottom: 73px;
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      left: 359px;
      height: 100%;
      width: 1px;
      background: $grey-color;
      content: "";
    }
    &-item {
      display: flex;
      // justify-content: space-between;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      &--left {
        width: 359px;
        // padding-right: 30px;
      }

      &--right {
        padding-left: 95px;
      }
    }
  }
  &__first-wrapper {
    display: flex;
    margin-bottom: 60px;
  }

  &__second-wrapper {
    display: flex;
    margin-bottom: 60px;
  }
  &__third-wrapper {
    margin-bottom: 60px;
  }
  &__fourth-wrapper {
    display: flex;
    margin-bottom: 40px;
  }

  &__data {
    &-label {
      margin-bottom: 30px;
    }
    &-wrapper--left {
      width: 50%;
    }

    &-wrapper--right {
      width: 50%;
    }
  }

  &__button {
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 82px;
    }

    &-back {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 20px;
      box-shadow: 0px 2px 20px rgba(242, 42, 78, 0.5);
      border-radius: 18px;
      border: none;
      background: $main-red-color;
      cursor: pointer;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
    }
  }

  &__offers-title {
    margin-bottom: 40px;
  }
}
