.projectInfo {
  position: relative;
  padding-top: 120px;
  padding-bottom: 80px;

  &__container {
    position: relative;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    &--icons {
      display: flex;
    }
    &--heart-icon {
      display: flex;
      width: 44px;
      height: 44px;
      margin-right: 20px;
      border-radius: 18px;
      align-items: center;
      justify-content: center;
      border: 1px solid $main-text-color;
      background: $white-color;
      cursor: pointer;
      & svg {
        width: 20px;
        height: 20px;
      }

      &.active {
        border: 1px solid $main-red-color;
        background: $main-red-color;
        & svg {
          & path {
            // fill: $white-color;
            stroke: $white-color;
          }
        }
      }
    }
    // &--red-icon {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   width: 44px;
    //   height: 44px;
    //   margin-right: 20px;
    //   background: $main-red-color;
    //   border-radius: 18px;
    //   border: none;
    //   cursor: pointer;
    //   & svg {
    //     width: 17px;
    //     & path {
    //       stroke: $white-color;
    //     }
    //   }
    // }
    &--transparent-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      background: $transparent;
      border-radius: 18px;
      border: 1.5px solid $main-text-color;
      cursor: pointer;
      & svg {
        width: 17px;
      }
    }
  }

  &__city {
    margin-bottom: 40px;
  }

  &__image-slider {
    padding: 20px 0 40px 20px;
    background: $white-color;
    margin-bottom: 40px;

    &--image {
      position: relative;
      width: 480px !important;
      height: 270px;
      overflow: hidden;
      border-radius: 25px;
    }
  }

  &__description {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &__info-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__buttons {
    display: flex;
    &__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__button-wrapper {
    &--desctop {
      position: relative;
      margin-top: auto;
    }
    &--mob {
      display: none;
    }
  }

  &__err-msg {
    position: absolute;
    left: 11%;
    bottom: -50%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $main-red-color;
  }

  &__button-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 20px rgba(242, 42, 78, 0.5);
    border-radius: 18px;
    border: none;
    background: $main-red-color;
    cursor: pointer;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }

  &__button-analysis {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 18px;
    border: none;
    background: $white-color;
    cursor: pointer;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $main-text-color;
    margin-top: 10px;
  }
  &__amount {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__rate {
    position: absolute;
    top: 20px;
    display: none;
    background: $white-color;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    border: 1px solid $main-red-color;
    border-top: 4px solid $main-red-color;
    padding: 15px;
    z-index: 9;

    &--top {
      margin-bottom: 5px;
    }
  }

  &__amount-uah {
    position: relative;
    margin-bottom: 10px;
    &:hover {
      .projectInfo__rate {
        display: block;
      }
    }
  }

  &__comments {
    margin-bottom: 80px;
  }

  &__comments-empty {
    text-align: center;
    margin-bottom: 40px;
  }

  &__form {
    width: 100%;
  }

  &__field {
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: black;
    margin-bottom: 20px;
  }

  &__textarea {
    width: 100%;
    height: 140px;
    border: none;
    background: $white-color;
    border-radius: 25px;
    padding: 20px 30px;
    outline: none;
    resize: none;
    cursor: text;

    &::placeholder {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: $grey-color;
    }
  }

  &__button-send {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &--success {
      flex: 1;
      opacity: 0;
      visibility: hidden;
      transition: all 0.35s ease;

      &.active {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__offers-title {
    margin-bottom: 40px;
  }

  &__slick-slider {
    .slick-prev,
    .slick-next {
      display: flex;
      align-items: center;
      justify-content: center;

      z-index: 1;
      transition: 1s all ease;
      width: 40px;
      height: 40px;
      top: auto;
      bottom: -57px;
      &::before {
        position: absolute;
        background-image: url("../../../../public/assets/svg/project-info-arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        object-fit: cover;
        width: 40px;
        height: 40px;
        opacity: 1;
        content: "";
      }
    }

    .slick-prev {
      left: auto;
      right: 70px;
      &::before {
        -webkit-transform: rotate(180deg);
      }
    }
    .slick-next {
      right: 12px;
    }
  }
}

.slick-track {
  margin-left: initial;
  transition: transform 1000ms ease 0s !important;
}

@media screen and (max-width: $size-tablet) {
  .projectInfo {
    padding-top: 112px;
    padding-bottom: 40px;

    &__container {
      overflow: hidden;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      &--icons {
        display: flex;
      }
      &--heart-icon {
        display: flex;
        width: 34px;
        height: 32px;
        margin-right: 10px;
        border-radius: 15px;

        align-items: center;
        justify-content: center;
        border: 1px solid $main-text-color;
        background: $white-color;
        cursor: pointer;
        & svg {
          width: 14px;
          height: 14px;
        }

        &.active {
          border: 1px solid $main-red-color;
          background: $main-red-color;
          & svg {
            & path {
              // fill: $white-color;
              stroke: $white-color;
            }
          }
        }
      }

      &--transparent-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 32px;
        margin-right: 10px;
        border-radius: 15px;
        background: $transparent;
        border: 1.5px solid $main-text-color;
        cursor: pointer;
        & svg {
          width: 14px;
        }
      }
    }

    &__city {
      margin-bottom: 40px;
    }

    &__image-slider {
      padding: 20px 0 40px 20px;
      background: $white-color;
      margin-bottom: 40px;

      &--image {
        position: relative;
        width: 480px !important;
        height: 270px;
        overflow: hidden;
        border-radius: 25px;
      }
    }

    &__description {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    &__info-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
    }

    &__button-wrapper {
      &--desctop {
        position: relative;
        margin-top: auto;
      }
      &--mob {
        display: none;
      }
    }

    &__err-msg {
      position: absolute;
      left: 11%;
      bottom: -50%;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: $main-red-color;
    }

    &__button-info {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px 14px;
      border-radius: 15px;
      border: none;
      background: $main-red-color;
      cursor: pointer;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
    }

    &__button-analysis {
      padding: 7px 14px;
      border-radius: 18px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      margin-top: 10px;
    }

    &__amount {
      margin-top: 10px;
    }

    &__comments {
      margin-bottom: 40px;
    }

    &__comments-empty {
      text-align: center;
      margin-bottom: 40px;
    }

    &__form {
      width: 100%;
      margin-bottom: 40px;
    }

    &__field {
      display: block;
      width: 100%;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: black;
      margin-bottom: 20px;
    }

    &__textarea {
      width: 100%;
      height: 117px;
      border: none;
      background: $white-color;
      border-radius: 20px;
      padding: 20px 30px;
      outline: none;
      resize: none;
      cursor: text;
      font-size: 14px;
      line-height: 17px;

      &::placeholder {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $grey-color;
      }
    }

    &__button-send {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &__offers-title {
      margin-bottom: 40px;
    }
  }

  .slick-track {
    margin-left: initial;
  }
}

@media screen and (max-width: $size-mobile) {
  .projectInfo {
    padding-top: 92px;
    padding-bottom: 40px;

    &__title {
      margin-bottom: 5px;
      &--heart-icon {
        margin-right: 10px;
      }
    }

    &__city {
      margin-bottom: 20px;
    }

    &__image-slider {
      padding: 10px 0 40px 10px;
      margin-bottom: 20px;
      margin-right: -20px;

      &--image {
        width: 100% !important;
        height: 142px !important;
        border-radius: 12.455px;
      }
    }

    &__categories-slider {
      margin-right: -20px;
    }

    &__description {
      margin-top: 20px;
      margin-bottom: 14px;
    }

    &__info-wrapper {
      display: block;
      margin-bottom: 20px;
    }
    &__button-wrapper {
      &--desctop {
        display: none;
      }
      &--mob {
        position: relative;
        display: block;
        margin-top: auto;
        margin-bottom: 14px;
      }
    }
    &__err-msg {
      position: absolute;
      left: 11%;
      bottom: -50%;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: $main-red-color;
    }

    &__button-info {
      padding: 7px 14px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }

    &__comments {
      margin-bottom: 40px;
    }

    &__comments-empty {
      text-align: center;
      margin-bottom: 40px;
    }

    &__form {
      width: 100%;
      margin-bottom: 40px;
    }

    &__field {
      display: block;
      width: 100%;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: black;
      margin-bottom: 10px;
    }

    &__textarea {
      border-radius: 20px;
      padding: 20px 20px;

      &::placeholder {
        font-size: 14px;
        line-height: 17px;
      }
    }

    &__button-send {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &__offers-title {
      margin-bottom: 40px;
    }
  }

  .slick-track {
    margin-left: initial;
  }
  .slick-active {
    padding: 0 5px;
  }

  .slick-list {
    margin: 0 -5px;
  }
}
