.soldBusinesses {
  padding-bottom: 40px;

  &__title {
    margin-bottom: 40px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    opacity: 0.4;
    filter: blur(1px);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }
}
