.favorites {
  &__cards {
    &__item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
    }
  }
  &__graphic {
    position: relative;
    width: 825px;
    height: 414px;
  }

  &__empty {
    padding-top: 210px;
  }
}
