.favorites {
  padding-bottom: 80px;
  &__cards {
    &--desctop {
    }
    &__item {
      display: flex;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
    &--mob {
      display: none;
    }
  }
  &__graphic {
    position: relative;
    width: 825px;
    height: 414px;
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // & h1 {
    //   text-align: center;
    // }
  }
}

@media screen and (max-width: $size-tablet) {
  .favorites {
    padding-bottom: 40px;
    &__cards {
      &--desctop {
      }
      &__item {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }
      &--mob {
        display: none;
      }
    }
    &__graphic {
      position: relative;
      width: 444px;
      height: 396px;

      & canvas {
        height: 396px !important;
      }
    }

    &__empty {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // padding-top: 210px;
      & h1 {
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: $size-mobile) {
  .favorites {
    &__cards {
      &--desctop {
        display: none;
      }
      &--mob {
        display: block;
      }
      &__item {
        display: block;
        padding-bottom: 20px;
        &:not(:last-child) {
          border-bottom: 1px solid $grey-color;
        }

        &:not(:first-child) {
          margin-top: 20px;
        }
      }
    }
    &__graphic {
      position: relative;
      width: 100%;
      height: 100%;
      margin-top: 20px;
    }

    &__empty {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // padding-top: 210px;
    }
  }
}
