.myBusinesses {
  padding-bottom: 80px;
  &__cards {
    &--desctop {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      justify-content: center;
      grid-column-gap: 30px;
      grid-row-gap: 40px;
    }
    &--tablet {
      display: none;
    }
  }

  &__button-plus {
    display: none;
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50vh;
    & h1 {
      text-align: center;
    }
  }

  &__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $main-text-color;
    margin-top: 20px;
    text-align: center;
  }
}

@media screen and (max-width: $size-tablet) {
  .myBusinesses {
    padding-bottom: 80px;
    &__container {
      overflow: hidden;
    }
    &__cards {
      &--desctop {
        display: none;
      }
      &--tablet {
        display: block;
      }
    }

    &__button-plus {
      display: none;
    }

    &__empty {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // padding-top: 210px;

      // & h1 {
      //   text-align: center;
      // }
    }

    &__text {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: $main-text-color;
      margin-top: 20px;
      text-align: center;
    }
  }
}

@media screen and (max-width: $size-mobile) {
  .myBusinesses {
    padding-bottom: 40px;
    &__cards {
      &--desctop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        grid-column-gap: 30px;
        grid-row-gap: 40px;
      }
      &--tablet {
        display: none;
      }
    }

    &__button-plus {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 7px 16px;
      border: none;
      border-radius: 15px;
      background: $main-red-color;
      cursor: pointer;

      &--text {
        margin-left: 10px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $white-color;
      }
    }

    &__empty {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // padding-top: 210px;
    }

    &__text {
      font-size: 14px;
      line-height: 17px;
      margin-top: 10px;
    }
  }
}
