

@font-face {
	font-family: "Kyiv*Type Sans";
	src: url('KyivTypeSans-VarGX.ttf');
	src: local('KyivTypeSans-VarGX'),
		url('KyivTypeSans-VarGX.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
