$inherit: inherit;
$transparent: transparent;
$initial: initial;
$black-color: #000000;
$white-color: #ffffff;
$dark-grey-color: #202020;
$orange-color: #EF983F;
$light-gray-color-01: rgba(0, 0, 0, 0.1);
