.modal-phone {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999999999;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    top: -50%;
    transition: all 0.35s ease;

    &.active {
      visibility: visible;
      pointer-events: all;
      opacity: 1;
      top: 0;
    }
  }
  &__container {
    position: relative;
    display: flex;
    width: 1110px;

    border-radius: 25px;
    overflow: hidden;
  }

  &__button-close {
    &--desctop {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      height: 44px;
      width: 44px;
      border: none;
      border-radius: 18px;
      background: $main-text-color;
      cursor: pointer;

      & svg {
        & path {
          stroke: $white-color;
        }
      }
    }
    &--mob {
      display: none;
    }
  }

  &__body {
    width: 100%;
    padding: 40px 60px;
    background: #fafafa;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    margin-right: 25px;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: $size-tablet) {
  .modal-phone {
    &__container {
      display: flex;
      width: 765px;

      border-radius: 25px;
      overflow: hidden;
    }

    &__title {
      font-size: 32px;
      line-height: 38px;
    }

    &__text {
      &--desctop {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $white-color;
        margin-top: 40px;
      }
      &--mob {
        display: none;
      }
    }

    &__button-close {
      &--desctop {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        height: 32px;
        width: 32px;
        border: none;
        border-radius: 18px;
        background: $main-text-color;
        cursor: pointer;

        & svg {
          width: 14px;
          height: 14px;
          & path {
            stroke: $white-color;
          }
        }
      }
      &--mob {
        display: none;
      }
    }

    &__body {
      width: 100%;
      padding: 44px 24px 40px 44px;
      background: #fafafa;
    }
    &__button {
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media screen and (max-width: $size-mobile) {
  .modal-phone {
    &__container {
      display: block;
      width: 375px;
      border-radius: 15px;
    }

    &__text {
      font-size: 24px;
      line-height: 26px;
    }

    &__button-close {
      &--desctop {
        display: none;
      }
      &--mob {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: none;
        margin-bottom: 0;
        width: 34px;
        height: 32px;
        border: none;
        background: $white-color;
        border-radius: 15px;
        cursor: pointer;

        & svg {
          width: 14px;
          height: 14px;
          & path {
            stroke: $main-text-color;
          }
        }
      }
    }

    &__body {
      padding: 20px;
    }

    &__button {
      font-size: 14px;
      line-height: 17px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
