.business-card {
  width: 255px;
  border-radius: 25px;
  background: $white-color;
  overflow: hidden;
  position: relative;

  &__link {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
  }

  &__image {
    position: relative;
    height: 190px;
    width: 255px;
  }

  &__heart-icon {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 34px;
    border: 1px solid $white-color;
    border-radius: 15px;
    background: $white-color;
    cursor: pointer;

    &.active {
      border: 1px solid $main-red-color;
      background: $main-red-color;
      & svg {
        & path {
          // fill: $white-color;
          stroke: $white-color;
        }
      }
    }
  }

  &__info {
    padding: 30px 20px;
    cursor: pointer;
    position: relative;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    color: $main-text-color;
    margin-bottom: 10px;
  }

  &__ckeck-icon {
    &.active {
      & g {
        & path {
          stroke: #21b660;
        }
      }
    }
  }

  &__description {
    margin-bottom: 30px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__views {
    display: flex;
    align-items: center;
    padding: 7px 16px 8px;
    border: 1px solid $main-text-color;
    border-radius: 15px;
  }

  &__eye-icon {
    margin-right: 10px;
  }

  &__price {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $main-text-color;
  }
}
