.business-card-favorite {
  display: flex;
  position: relative;
  width: 255px;
  height: 100%;
  border-radius: 15px;
  background: $white-color;
  overflow: hidden;

  &:hover &__button-edit {
    opacity: 1;
    visibility: visible;
  }

  &__button-edit {
    position: absolute;
    top: 21px;
    right: 21px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 32px;
    background: $main-red-color;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
  }

  &__link {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
  }

  &__image {
    position: relative;
    // height: 190px;
    width: 100%;
  }

  &__heart-icon {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 34px;
    border: 1px solid $white-color;
    border-radius: 15px;
    background: $white-color;
    cursor: pointer;
    z-index: 20;
    &.active {
      border: 1px solid $main-red-color;
      background: $main-red-color;
      & svg {
        & path {
          // fill: $white-color;
          stroke: $white-color;
        }
      }
    }
  }

  &__info {
    padding: 15px;
    cursor: pointer;
    position: relative;
  }

  &__title {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: $main-text-color;
    // height: 48px;
    margin-bottom: 5px;

    & span {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &__ckeck-icon {
    z-index: 555;
    &.active {
      & g {
        & path {
          stroke: #21b660;
        }
      }
    }
  }

  &__description {
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }

  &__footer-mob {
    display: none;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__views {
    display: flex;
    align-items: center;
    padding: 7px 16px 8px;
    border: 1px solid $main-text-color;
    border-radius: 15px;
  }

  &__eye-icon {
    margin-right: 10px;
  }

  &__price {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $main-text-color;
  }
}

@media screen and (max-width: $size-mobile) {
  .business-card-favorite {
    width: 100%;
    &:hover &__button-edit {
      opacity: 1;
      visibility: visible;
    }

    &__button-edit {
      position: absolute;
      top: 21px;
      right: 21px;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 32px;
      background: $main-red-color;
      border-radius: 15px;
      border: none;
      cursor: pointer;
      opacity: 0;
      visibility: hidden;
    }

    &__image {
      width: 160px;
    }

    &__heart-icon {
      display: none;
    }

    &__info {
      width: calc(100% - 160px);
      padding: 15px;
    }

    &__title {
      // height: 48px;

      & span {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    &__ckeck-icon {
      display: none;
    }

    &__description {
      margin-bottom: 10px;
    }

    &__footer-mob {
      display: block;

      &--first {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      &--second {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__heart-icon--mob {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      width: auto;
      border: none;
      border-radius: 0;
      background: $white-color;
      cursor: pointer;
      z-index: 20;
      & svg {
        width: 20px;
        height: 20px;
      }
      &.active {
        border: none;
        & svg {
          & path {
            fill: $main-red-color;
            stroke: $main-red-color;
          }
        }
      }
    }

    &__ckeck-icon--mob {
      z-index: 555;
      width: 20px;
      height: 20px;
      &.active {
        & g {
          & path {
            stroke: #21b660;
          }
        }
      }
    }

    &__footer {
      display: none;
    }
    &__views {
      display: flex;
      align-items: center;
      padding: 0;
      border: none;
      border-radius: 15px;
    }

    &__eye-icon {
      margin-right: 10px;
    }
  }
}
