.business-card {
  cursor: pointer;
  position: relative;
  width: 255px;
  height: 100%;
  border-radius: 25px;
  background: $white-color;
  // overflow: hidden;
  overflow: visible;
  margin-bottom: 50px;

  &.sold {
    opacity: 0.4;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      z-index: 999;
      background: rgba(255, 255, 255, 0);
      backdrop-filter: blur(1px);
      pointer-events: none;
    }
  }
  &:hover &__button-edit {
    opacity: 1;
    visibility: visible;
  }

  &__top {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
  }

  &__sold-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    & svg {
      & path {
        fill: #3700ff;
      }
    }
  }

  &__invest {
    position: absolute;
    top: -15px;
    right: -20px;
    z-index: 5;
  }

  &__button-edit {
    position: absolute;
    top: 21px;
    right: 21px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 32px;
    background: $main-red-color;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
  }

  &__link {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
    user-select: none;
    -webkit-user-drag: none;

    &.inactive {
      height: 70%;
    }
  }

  &__image {
    position: relative;
    height: 190px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    overflow: hidden;
  }

  &__heart-icon {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 34px;
    border: 1px solid $white-color;
    border-radius: 15px;
    background: $white-color;
    cursor: pointer;
    z-index: 20;
    &.active {
      border: 1px solid $main-red-color;
      background: $main-red-color;
      & svg {
        & path {
          // fill: $white-color;
          stroke: $white-color;
        }
      }
    }
  }

  &__info {
    padding: 30px 20px;
    cursor: pointer;
    position: relative;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    color: $main-text-color;
    height: 48px;
    margin-bottom: 10px;

    & span {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &__ckeck-icon {
    z-index: 555;
    &.active {
      & g {
        & path {
          stroke: #21b660;
        }
      }
    }
  }

  &__description {
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
    height: 68px;
  }

  &__footer-mob {
    display: none;
  }
  &__rate {
    position: absolute;
    top: 20px;
    display: none;
    background: $white-color;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    border: 1px solid $main-red-color;
    border-top: 4px solid $main-red-color;
    padding: 15px;
    right: 0px;
    z-index: 9;

    &--top {
      margin-bottom: 5px;
    }
  }
  &__footer {
    &--top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    &--bottom {
      position: relative;
      text-align: right;

      &:hover {
        .business-card__rate {
          display: block;
        }
      }
    }
  }

  &__views {
    display: flex;
    align-items: center;
    padding: 7px 16px 8px;
    border: 1px solid $main-text-color;
    border-radius: 15px;
  }

  &__eye-icon {
    margin-right: 10px;
  }

  &__price {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $main-text-color;
  }

  &__inactive {
    margin-top: 10px;
    & button {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    .main-button-black {
      border-color: #f22a4e;
    }
  }
}

@media screen and (max-width: $size-tablet) {
  .business-card {
    position: relative;
    width: 255px;
    height: 100%;
    border-radius: 25px;
    background: $white-color;
    // overflow: hidden;
    overflow: visible;

    &:hover &__button-edit {
      opacity: 1;
      visibility: visible;
    }

    &__button-edit {
      position: absolute;
      top: 21px;
      right: 21px;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 32px;
      background: $main-red-color;
      border-radius: 15px;
      border: none;
      cursor: pointer;
      opacity: 0;
      visibility: hidden;
    }

    &__link {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 9;
      user-select: none;
      -webkit-user-drag: none;
    }

    &__image {
      position: relative;
      height: 190px;
      width: 100%;
    }

    &__heart-icon {
      position: absolute;
      left: 20px;
      bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 34px;
      border: 1px solid $white-color;
      border-radius: 15px;
      background: $white-color;
      cursor: pointer;
      z-index: 20;
      &.active {
        border: 1px solid $main-red-color;
        background: $main-red-color;
        & svg {
          & path {
            // fill: $white-color;
            stroke: $white-color;
          }
        }
      }
    }

    &__info {
      padding: 30px 20px;
      cursor: pointer;
      position: relative;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      align-items: center;
      color: $main-text-color;
      height: 48px;
      margin-bottom: 10px;

      & span {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    &__ckeck-icon {
      z-index: 555;
      &.active {
        & g {
          & path {
            stroke: #21b660;
          }
        }
      }
    }

    &__description {
      margin-bottom: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4; /* number of lines to show */
      line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    &__footer-mob {
      display: none;
    }

    &__footer {
      // display: flex;
      // align-items: center;
      // justify-content: space-between;
    }
    &__views {
      display: flex;
      align-items: center;
      padding: 7px 16px 8px;
      border: 1px solid $main-text-color;
      border-radius: 15px;
    }

    &__eye-icon {
      margin-right: 10px;
    }

    &__price {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: $main-text-color;
    }
  }
}

@media screen and (max-width: $size-mobile) {
  .business-card {
    width: 100%;
    &:hover &__button-edit {
      opacity: 1;
      visibility: visible;
    }

    &__button-edit {
      position: absolute;
      top: 21px;
      right: 21px;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 32px;
      background: $main-red-color;
      border-radius: 15px;
      border: none;
      cursor: pointer;
      opacity: 0;
      visibility: hidden;
    }

    &__image {
      // width: 100;
    }

    &__heart-icon {
      display: none;
    }

    &__info {
      padding: 20px;
    }

    &__title {
      height: 48px;

      & span {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    &__ckeck-icon {
      display: none;
    }

    &__description {
      // height: 60px;
      margin-bottom: 20px;
    }

    // &__rate {
    //   position: absolute;
    //   top: -80px;
    //   display: none;
    //   background: #f5f5f5;
    //   border-radius: 0 0 10px 10px;
    //   overflow: hidden;
    //   border-top: 4px solid $main-red-color;
    //   padding: 15px;

    //   &--top {
    //     margin-bottom: 5px;
    //   }
    // }

    &__footer-mob {
      display: block;

      &--first {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
      }

      &--price {
        position: relative;
        margin-bottom: 10px;
        // &:hover {
        //   .business-card__rate {
        //     display: block;
        //   }
        // }
      }

      &--second {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__heart-icon--mob {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      width: auto;
      border: none;
      border-radius: 0;
      background: $white-color;
      cursor: pointer;
      z-index: 20;
      & svg {
        width: 20px;
        height: 20px;
      }
      &.active {
        border: none;
        & svg {
          & path {
            fill: $main-red-color;
            stroke: $main-red-color;
          }
        }
      }
    }

    &__ckeck-icon--mob {
      z-index: 555;
      width: 20px;
      height: 20px;
      &.active {
        & g {
          & path {
            stroke: #21b660;
          }
        }
      }
    }

    &__footer {
      display: none;
    }
    &__views {
      display: flex;
      align-items: center;
      padding: 0;
      border: none;
      border-radius: 15px;
    }

    &__eye-icon {
      margin-right: 10px;
    }
  }
}
