.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 34px;
  border: 1px solid $white-color;
  border-radius: 15px;
  background: transparent;
  cursor: pointer;  
 }