.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 16px 8px;
  border: 1px solid $white-color;
  border-radius: 15px;
  background: transparent;        
  cursor: pointer;   
  
  &--red {
    background: #F22A4E; 
  }
}