.main-button-black {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 16px 8px;
  // width: 100%;
  border: 1px solid $main-text-color;
  border-radius: 15px;
  background: transparent;
  cursor: pointer;
}
