.main-button-grey {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 16px 8px;
  // width: 100%;
  border: 1px solid #888888;
  border-radius: 15px;
  background: transparent;
  color: #888888;
  cursor: pointer;
}
