.registerBusiness {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("../../../../public/assets/images/registerBusiness-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    margin-bottom: 30px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 18px;
    border: none;
    background: $white-color;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    color: $main-text-color;
    cursor: pointer;
  }
}

@media screen and (max-width: $size-tablet) {
  .registerBusiness {
    padding-top: 80px;
    padding-bottom: 94px;
    background-image: url("../../../../public/assets/images/registerBusiness-bg.png");

    &__title {
      margin-bottom: 30px;

      &--mob {
      }
    }

    &__button {
      padding: 10px 20px;
      border-radius: 18px;
    }
  }
}

@media screen and (max-width: $size-mobile) {
  .registerBusiness {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../../../../public/assets/images/register-business-mob-bg.png");

    &__title {
      margin-bottom: 17px;

      &--mob {
        display: block;
      }
    }

    &__button {
      padding: 6px 12px;
      border-radius: 11px;
    }
  }
}
