@keyframes animatedBackground {
  from {
    background-size: auto 120%;
    transform: translate(-50% -50%);
  }
  to {
    background-size: auto 100%;
  }
}
.slick-current {
  & div {
    & section {
      animation: animatedBackground 20s ease 1 forwards;
    }
  }
}

.categories {
  &__wrapper {
    position: relative;
  }

  &__popUp {
    position: absolute;
    bottom: 75px;
    right: 30px;
    padding: 20px;
    box-shadow: 5px 9px 15px rgb(242 42 78 / 50%);
    background: $white-color;
    width: 350px;
    border-radius: 25px;
    & p {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
.categories-first {
  position: relative;
  padding-top: 280px;
  padding-bottom: 191px;
  background-image: url("../../../../public/assets/images/main-bg-first.png");
  background-color: $black-color;
  background-position: top 80px left;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

  &__container {
    position: relative;
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    margin-bottom: 30px;
    width: 478px;
  }

  &__text {
    width: 478px;
    margin-bottom: 30px;
    height: 168px;
  }

  &__buttons {
    display: flex;
    height: 44px;
    width: 478px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 20px rgba(242, 42, 78, 0.5);
    border-radius: 18px;
    border: none;
    background: $main-red-color;
    cursor: pointer;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;

    &--white {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      border-radius: 18px;
      border: none;
      background: $white-color;
      cursor: pointer;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: $main-text-color;
      margin-left: 30px;
    }
  }
}

.categories-second {
  position: relative;
  padding-top: 280px;
  padding-bottom: 191px;
  background-image: url("../../../../public/assets/images/main-bg-sec-2.png");
  background-color: $black-color;
  background-position: top 80px left;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  // animation: animatedBackground 2s linear infinite;

  &__container {
    position: relative;
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    margin-bottom: 30px;
    width: 478px;
  }

  &__text {
    width: 478px;
    margin-bottom: 30px;
    height: 168px;
  }

  &__buttons {
    display: flex;
    height: 44px;
    width: 478px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 20px rgba(242, 42, 78, 0.5);
    border-radius: 18px;
    border: none;
    background: $main-red-color;
    cursor: pointer;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;

    &--white {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      border-radius: 18px;
      border: none;
      background: $white-color;
      cursor: pointer;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: $main-text-color;
      // margin-left: 30px;
    }
  }
}

.categories-third {
  position: relative;
  padding-top: 280px;
  padding-bottom: 191px;
  background-image: url("../../../../public/assets/images/main-bg-third.png");
  background-color: $black-color;
  background-position: top 80px left;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  // animation: animatedBackground 2s linear infinite;
  &__container {
    position: relative;
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    margin-bottom: 30px;
    width: 478px;
  }

  &__text {
    width: 478px;
    margin-bottom: 30px;
    height: 168px;
  }

  &__buttons {
    display: flex;
    height: 44px;
    width: 478px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 20px rgba(242, 42, 78, 0.5);
    border-radius: 18px;
    border: none;
    background: $main-red-color;
    cursor: pointer;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;

    &--white {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      border-radius: 18px;
      border: none;
      background: $white-color;
      cursor: pointer;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: $main-text-color;
      margin-left: 30px;
    }
  }
}

.main-slider {
  .slick-slide {
    border: none;
  }
  .slick-active {
    background: rgba(217, 217, 217, 0.2);
    transition: all 1s ease;
  }
  &-dots {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
    width: 100%;
    padding: 0px;
    &-list {
      position: absolute;
      bottom: 66px;

      & li {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }

    &-item {
      cursor: pointer;
      display: block;
      width: 322px;
      height: 100%;
      margin: 0;
      padding: 24px 20px;
      background: rgba(12, 12, 12, 0.2);

      &--title {
        border-top: 2px solid #f22a4e;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        font-family: "Kyiv*Type Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #ffffff;
        text-align: start;
        margin-bottom: 10px;
      }

      &--text {
        padding-bottom: 14px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        text-align: start;
      }
      &--textFull {
        display: none;
      }

      .categories-first__button {
        display: none;
      }
      .categories-second__button--white {
        display: none;
      }
      .categories-third__continue {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $size-tablet) {
  .categories-first {
    padding-top: 248px;
    padding-bottom: 234px;
    background-image: url("../../../../public/assets/images/main-bg-first.png");
    background-position: top 72px left;

    &__container {
      position: relative;
      display: flex !important;
      flex-direction: column;
      align-items: flex-end;
    }

    &__title {
      margin-bottom: 30px;
      width: 351px;
      font-size: 36px;
      line-height: 43px;
    }

    &__text {
      width: 351px;
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 20px;
      height: 140px;
    }

    &__buttons {
      display: flex;
      height: 44px;
      width: 351px;
    }

    &__button {
      padding: 9.5px 20px;
      box-shadow: 0px 2px 20px rgba(242, 42, 78, 0.5);
      border-radius: 18px;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      // height: 27.81px;

      &--white {
        padding: 6px 12px;
        border-radius: 11px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 30px;
      }
    }
  }

  .categories-second {
    padding-top: 248px;
    padding-bottom: 234px;
    background-image: url("../../../../public/assets/images/main-bg-sec-2.png");
    background-position: top 72px left;

    &__container {
      position: relative;
      display: flex !important;
      flex-direction: column;
      align-items: flex-end;
    }

    &__title {
      margin-bottom: 30px;
      width: 351px;
      font-size: 36px;
      line-height: 43px;
    }

    &__text {
      width: 351px;
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 20px;
      height: 140px;
    }

    &__buttons {
      display: flex;
      height: 44px;
      width: 351px;
    }

    &__button {
      padding: 9.5px 20px;
      box-shadow: 0px 2px 20px rgba(242, 42, 78, 0.5);
      border-radius: 18px;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;

      &--white {
        padding: 9.5px 20px;
        border-radius: 18px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        // margin-left: 20px;
      }
    }
  }

  .categories-third {
    padding-top: 248px;
    padding-bottom: 234px;
    background-image: url("../../../../public/assets/images/main-bg-third.png");
    background-position: top 72px left;

    &__container {
      position: relative;
      display: flex !important;
      flex-direction: column;
      align-items: flex-end;
    }

    &__title {
      margin-bottom: 30px;
      width: 351px;
      font-size: 36px;
      line-height: 43px;
    }

    &__text {
      width: 351px;
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 20px;
      height: 140px;
    }

    &__buttons {
      display: flex;
      height: 44px;
      width: 351px;
    }
    &__button {
      padding: 9.5px 20px;
      box-shadow: 0px 2px 20px rgba(242, 42, 78, 0.5);
      border-radius: 18px;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;

      &--white {
        padding: 9.5px 20px;
        border-radius: 18px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 20px;
      }
    }
  }

  .main-slider {
    &-dots {
      max-width: 768px;
      padding: 0 24px;
      &-list {
        bottom: 40px;
      }

      &-item {
        width: 303px;
        padding: 21px 12px;
        &--text {
          padding-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: $size-mobile) {
  .categories-first {
    padding-top: 814px;
    padding-bottom: 10px;
    background-image: url("../../../../public/assets/images/main-bg-first-mob.png");
    background-position: top 72px left 50%;

    &__title {
      display: none;
      margin-bottom: 20px;
      width: 100%;
    }

    &__text {
      display: none;
      width: 100%;
      margin-bottom: 20px;
    }

    &__button {
      padding: 6px 12px;
      border-radius: 11px;
      font-weight: 600;
      font-size: 12.64px;
      line-height: 15px;
      height: 27.81px;

      &--white {
        padding: 6px 12px;
        border-radius: 11px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 30px;
      }
    }

    &__buttons {
      display: none;
      // display: flex;
      height: 28px;
    }
  }

  .categories-second {
    padding-top: 814px;
    padding-bottom: 10px;
    background-image: url("../../../../public/assets/images/main-bg-second-mob.png");
    background-position: top 72px left 50%;

    &__title {
      margin-bottom: 20px;
      width: 100%;
      display: none;
    }

    &__text {
      display: none;
      width: 100%;
      margin-bottom: 20px;
    }

    &__button {
      padding: 5.9px 12px;
      border-radius: 18px;
      font-weight: 600;
      font-size: 12.64px;
      line-height: 15px;
      height: 27.81px;

      &--white {
        padding: 6px 12px;
        border-radius: 18px;
        font-weight: 600;
        font-size: 12.64px;
        line-height: 15px;
        height: 27.81px;
      }
    }
    &__buttons {
      display: none;
      height: 28px;
    }
  }

  .categories-third {
    padding-top: 814px;
    padding-bottom: 10px;
    background-image: url("../../../../public/assets/images/main-bg-third-mob.png");
    background-position: top 72px left 50%;

    &__title {
      display: none;
      margin-bottom: 20px;
      width: 100%;
    }

    &__text {
      display: none;
      width: 100%;
      margin-bottom: 20px;
    }

    &__button {
      padding: 5.9px 12px;
      border-radius: 18px;
      font-weight: 600;
      font-size: 12.64px;
      line-height: 15px;
      height: 27.81px;

      &--white {
        padding: 6px 12px;
        border-radius: 18px;
        font-weight: 600;
        font-size: 12.64px;
        line-height: 15px;
        margin-left: 20px;
        height: 27.81px;
      }
    }
    &__buttons {
      display: none;
      height: 28px;
    }
  }
  .main-slider {
    &-dots {
      max-width: 100%;
      padding: 0 20px;

      &-list {
        bottom: 40px;
        left: 50%;
        transform: translate(-50%, 0);
        & li {
          position: relative;
          &:first-child {
            &::after {
              position: absolute;
              bottom: 0;
              right: 39px;
              visibility: visible;
              color: white;
              opacity: 1;
              transition: all 3s ease;
              content: "...";
            }
          }
          &:nth-child(2) {
            &::after {
              position: absolute;
              bottom: 0;
              right: 32px;
              opacity: 1;
              color: white;
              visibility: visible;
              transition: all 3s ease;
              content: "...";
            }
          }
          &:nth-child(3) {
            &::after {
              position: absolute;
              bottom: 0;
              right: 35px;
              opacity: 1;
              visibility: visible;
              transition: all 3s ease;
              color: white;
              content: "...";
            }
          }
        }
      }

      &-item {
        width: 327px;
        padding: 20px 24px;
        height: 150px;
        transition: all 1s ease;
        overflow: hidden;
        &--textFull {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #ffffff;
          text-align: start;
          display: block;
          position: relative;
          padding-bottom: 0;
          max-height: 60px;
          margin-bottom: 10px;
        }
        &--text {
          display: none;
        }
        .categories-first__button {
          display: none;
        }
        .categories-second__button--white {
          display: none;
        }
        .categories-third__continue {
          display: none;
        }
      }
    }

    .slick-slide {
      margin: 0;
      padding: 0;
      height: 824px !important;
    }

    .slick-active {
      &::after {
        opacity: 0 !important;
        visibility: hidden !important;
        transition: all 0.1s ease !important;
      }
      .main-slider-dots-item {
        height: 307px;
        overflow: hidden;

        .main-slider-dots-item--textFull {
          max-height: 180px;
          &::after {
            display: none;
            content: "...";
          }
        }
        .categories-first__button {
          display: block;
        }
        .categories-second__button--white {
          display: block;
        }
        .categories-third__continue {
          display: block;
        }
      }
    }
  }
}
