.categories-first {
  position: relative;
  padding-top: 280px;
  padding-bottom: 191px;
  background-image: url("../../../../public/assets/images/main-bg-first.png");
  background-color: $black-color;
  background-position: top 80px left;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    position: relative;
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    margin-bottom: 30px;
    width: 478px;
  }

  &__text {
    width: 478px;
    margin-bottom: 30px;
  }

  &__buttons {
    display: flex;
    height: 44px;
    width: 478px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 20px rgba(242, 42, 78, 0.5);
    border-radius: 18px;
    border: none;
    background: $main-red-color;
    cursor: pointer;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;

    &--white {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      border-radius: 18px;
      border: none;
      background: $white-color;
      cursor: pointer;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: $main-text-color;
      margin-left: 30px;
    }
  }
}

.categories-second {
  position: relative;
  padding-top: 280px;
  padding-bottom: 191px;
  background-image: url("../../../../public/assets/images/main-bg-second.png");
  background-color: $black-color;
  background-position: top 80px left;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    position: relative;
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    margin-bottom: 30px;
    width: 478px;
  }

  &__text {
    width: 478px;
    margin-bottom: 30px;
  }

  &__buttons {
    display: flex;
    height: 44px;
    width: 478px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 20px rgba(242, 42, 78, 0.5);
    border-radius: 18px;
    border: none;
    background: $main-red-color;
    cursor: pointer;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;

    &--white {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      border-radius: 18px;
      border: none;
      background: $white-color;
      cursor: pointer;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: $main-text-color;
      margin-left: 30px;
    }
  }
}

.categories-third {
  position: relative;
  padding-top: 280px;
  padding-bottom: 191px;
  background-image: url("../../../../public/assets/images/main-bg-third.png");
  background-color: $black-color;
  background-position: top 80px left;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    position: relative;
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    margin-bottom: 30px;
    width: 478px;
  }

  &__text {
    width: 478px;
    margin-bottom: 30px;
  }

  &__buttons {
    display: flex;
    height: 44px;
    width: 478px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 20px rgba(242, 42, 78, 0.5);
    border-radius: 18px;
    border: none;
    background: $main-red-color;
    cursor: pointer;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;

    &--white {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      border-radius: 18px;
      border: none;
      background: $white-color;
      cursor: pointer;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: $main-text-color;
      margin-left: 30px;
    }
  }
}

.main-slider {
  .slick-active {
    background: rgba(217, 217, 217, 0.2);
  }
  &-dots {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
    width: 100%;
    padding: 0px;
    &-list {
      position: absolute;
      bottom: 66px;

      & li {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }

    &-item {
      cursor: pointer;
      display: block;
      width: 322px;
      height: 100%;
      margin: 0;
      padding: 24px 20px;
      background: rgba(12, 12, 12, 0.2);

      &--title {
        border-top: 2px solid #f22a4e;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        font-family: "Kyiv*Type Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #ffffff;
        text-align: start;
        margin-bottom: 10px;
      }

      &--text {
        padding-bottom: 14px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        text-align: start;
      }
    }
  }

  // .slick-dots li {
  //   margin: 0;
  // }

  // .slick-dots li button:before {
  //   opacity: 1;
  //   font-size: 10px;
  //   color: $grey-color;
  // }

  // .slick-dots li.slick-active button:before {
  //   color: #fafafa;
  // }
}

@media screen and (max-width: $size-tablet) {
  .categories-first {
    padding-top: 159px;
    padding-bottom: 93px;
    background-image: url("../../../../public/assets/images/main-bg-first.png");
    background-position: top 72px left;

    &__title {
      margin-bottom: 30px;
      width: 100%;
    }

    &__text {
      width: 100%;
      margin-bottom: 30px;
    }

    &__button {
      padding: 9.5px 20px;
      box-shadow: 0px 2px 20px rgba(242, 42, 78, 0.5);
      border-radius: 18px;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      // height: 27.81px;

      &--white {
        padding: 6px 12px;
        border-radius: 11px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 30px;
      }
    }

    &__buttons {
      display: flex;
      height: 43px;
    }
  }

  .categories-second {
    padding-top: 159px;
    padding-bottom: 93px;
    background-image: url("../../../../public/assets/images/main-bg-second.png");
    background-position: top 72px left;

    &__title {
      margin-bottom: 30px;
      width: 100%;
    }

    &__text {
      width: 100%;
      margin-bottom: 30px;
    }

    &__button {
      padding: 9.5px 20px;
      box-shadow: 0px 2px 20px rgba(242, 42, 78, 0.5);
      border-radius: 18px;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;

      &--white {
        padding: 9.5px 20px;
        border-radius: 18px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 20px;
      }
    }

    &__buttons {
      display: flex;
      height: 43px;
    }
  }

  .categories-third {
    padding-top: 159px;
    padding-bottom: 93px;
    background-image: url("../../../../public/assets/images/main-bg-third.png");
    background-position: top 72px left;

    &__title {
      margin-bottom: 30px;
      width: 100%;
    }

    &__text {
      width: 100%;
      margin-bottom: 30px;
    }

    &__button {
      padding: 9.5px 20px;
      box-shadow: 0px 2px 20px rgba(242, 42, 78, 0.5);
      border-radius: 18px;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;

      &--white {
        padding: 9.5px 20px;
        border-radius: 18px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 20px;
      }
    }

    &__buttons {
      display: flex;
      height: 43px;
    }
  }

  // .slick-dots {
  //   bottom: 25px;
  // }

  // .slick-dots li {
  //   margin: 0;
  // }

  // .slick-dots li button:before {
  //   opacity: 1;
  //   font-size: 10px;
  //   color: $grey-color;
  // }
}

@media screen and (max-width: $size-mobile) {
  .categories-first {
    padding-top: 132px;
    padding-bottom: 60px;
    background-image: url("../../../../public/assets/images/main-bg-first.png");
    background-position: top 72px left;

    &__title {
      margin-bottom: 20px;
      width: 100%;
    }

    &__text {
      width: 100%;
      margin-bottom: 20px;
    }

    &__button {
      padding: 6px 12px;
      border-radius: 11px;
      font-weight: 600;
      font-size: 12.64px;
      line-height: 15px;
      height: 27.81px;

      &--white {
        padding: 6px 12px;
        border-radius: 11px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 30px;
      }
    }

    &__buttons {
      display: flex;
      height: 28px;
    }
  }

  .categories-second {
    padding-top: 132px;
    padding-bottom: 60px;
    background-image: url("../../../../public/assets/images/main-bg-second.png");
    background-position: top 72px left;

    &__title {
      margin-bottom: 20px;
      width: 100%;
    }

    &__text {
      width: 100%;
      margin-bottom: 20px;
    }

    &__button {
      padding: 5.9px 12px;
      border-radius: 18px;
      font-weight: 600;
      font-size: 12.64px;
      line-height: 15px;
      height: 27.81px;

      &--white {
        padding: 6px 12px;
        border-radius: 18px;
        font-weight: 600;
        font-size: 12.64px;
        line-height: 15px;
        margin-left: 20px;
        height: 27.81px;
      }
    }
    &__buttons {
      display: flex;
      height: 28px;
    }
  }

  .categories-third {
    padding-top: 132px;
    padding-bottom: 60px;
    background-image: url("../../../../public/assets/images/main-bg-third.png");
    background-position: top 72px left;

    &__title {
      margin-bottom: 20px;
      width: 100%;
    }

    &__text {
      width: 100%;
      margin-bottom: 20px;
    }

    &__button {
      padding: 5.9px 12px;
      border-radius: 18px;
      font-weight: 600;
      font-size: 12.64px;
      line-height: 15px;
      height: 27.81px;

      &--white {
        padding: 6px 12px;
        border-radius: 18px;
        font-weight: 600;
        font-size: 12.64px;
        line-height: 15px;
        margin-left: 20px;
        height: 27.81px;
      }
    }
    &__buttons {
      display: flex;
      height: 28px;
    }
  }

  // .slick-dots {
  //   bottom: 25px;
  // }

  // .slick-dots li {
  //   margin: 0;
  // }

  // .slick-dots li button:before {
  //   opacity: 1;
  //   font-size: 10px;
  //   color: $grey-color;
  // }
}
