@import "./variables/variables";
@import "../public/fonts/Montserrat/stylesheet.css";
@import "../public/fonts/KyivTypeSans/stylesheet.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;

  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $main-text-color;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  outline: none;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
  background: #f5f5f5;
  color: $main-text-color;
}

html {
  height: -webkit-fill-available;
}

main {
  min-height: calc(100vh - 230px);
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
  width: 100%;
  padding: 0px;

  @media screen and (max-width: $size-tablet) {
    max-width: 768px;
    padding: 0 24px;
  }

  @media screen and (max-width: $size-mobile) {
    max-width: 100%;
    padding: 0 20px;
  }
}

.title {
  font-family: "Kyiv*Type Sans";
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: left;
  color: $main-text-color;

  &--white {
    font-family: "Kyiv*Type Sans";
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: left;
    color: $white-color;
  }

  @media screen and (max-width: $size-tablet) {
    font-size: 40px;
    line-height: 48px;

    &--white {
      font-size: 40px;
      line-height: 48px;
    }
  }

  @media screen and (max-width: $size-mobile) {
    font-size: 30px;
    line-height: 36px;

    &--white {
      font-size: 30px;
      line-height: 36px;
    }
  }
}

.section__primary-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $main-text-color;
  &--white {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $white-color;
  }

  &--bold {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $main-text-color;
  }

  &--white-bold {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $white-color;
  }

  @media screen and (max-width: $size-mobile) {
    font-size: 14px;
    line-height: 17px;

    &--white {
      font-size: 14px;
      line-height: 17px;
    }

    &--bold {
      font-size: 14px;
      line-height: 17px;
    }

    &--white-bold {
      font-size: 14px;
      line-height: 17px;
    }
  }
}

.section__secondary-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $main-text-color;

  &--white {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $white-color;
  }

  @media screen and (max-width: $size-mobile) {
    font-size: 12px;
    line-height: 15px;

    &--white {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

// Components

// Header
@import "./components/Header.scss";

// HomePage
@import "./components/HomePage/Categories/Categories.scss";
@import "./components/HomePage/Popular/Popular.scss";
@import "./components/HomePage/NewBusinesses/NewBusinesses.scss";
@import "./components/HomePage/SoldBusinesses/SoldBusinesses.scss";
@import "./components/HomePage/RegisterBusiness/RegisterBusiness.scss";

//Catalog
@import "./components/Catalog/Catalog/CatalogView.scss";
@import "./components/Catalog/Catalog/Sidebar.scss";
@import "./components/Catalog/Catalog/MobFilter.scss";
@import "./components/Catalog/ProjectInfo/ProjectInfo.scss";
@import "./components/Catalog/ProjectInfo/ProfileInfo.scss";
@import "./components/Catalog/ProjectInfo/Comment.scss";
@import "./components/Catalog/ProjectInfo/DetailInfo.scss";

//Account
@import "./components/Account/Account.scss";
@import "./components/Account/ContactInfo.scss";
@import "./components/Account/AccountHeader.scss";
@import "./components/Account/MyBusinesses.scss";
@import "./components/Account/AddBusiness.scss";
@import "./components/Account/AddBusinessFinish.scss";
@import "./components/Account/AddBusinessEdit.scss";
@import "./components/Account/Favorites.scss";

// Footer
@import "./components/Footer/Footer.scss";
@import "./components/Footer/Networks.scss";

//Shared
@import "./components/shared/MainButton.scss";
@import "./components/shared/MainButtonRed.scss";
@import "./components/shared/MainButtonBlack.scss";
@import "./components/shared/MainButtonGrey.scss";
@import "./components/shared/IconButton.scss";
@import "./components/shared/BusinessCard.scss";
@import "./components/shared/BusinessCardFavorite.scss";
@import "./components/shared/CustomSelect.scss";
@import "./components/shared/Checkbox.scss";
@import "./components/shared/Pagination.scss";
@import "./components/shared/Reset.scss";

//Modal
@import "./components/Modals/Modal-register.scss";
@import "./components/Modals/Modal-auth.scss";
@import "./components/Modals/Modal-forgot-password.scss";
@import "./components/Modals/Modal-delete-business.scss";
@import "./components/Modals/Modal-register-finish.scss";

// Slick/slider
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
